@keyframes makeCircle {
  0% {border-radius: 0;}
  25% {border-radius: 25%; clip-path: polygon(50% 50%, 90% 90%, 90% 10%);}
  50% {border-radius: 50%; clip-path: polygon(25% 25%, 45% 45%, 45% 90%); background-color: red;}
  75% {border-radius: 25%;clip-path: polygon(50% 50%, 90% 90%, 90% 10%);}
  100% {border-radius: 0;}
}
