@mixin heightWidthColor_top {
  display: inline-block;
  height: 100%;
  width: 5%;
  background-color: $triangle-background-color;
}

@mixin heightWidthColor_center {
  display: inline-block;
  height: 100%;
  width: 15%;
  background-color: $triangle-background-color;
  position: relative;
  z-index: 0;
}

@mixin heightWidthColor_bottom {
  display: inline-block;
  height: 100%;
  width: $triangle-center-col-width;
  background-color: $triangle-background-color;
  position: relative;
}
