.triangle {
  background-color: $color;
  border: 0.1rem #000000 solid;
  height: 90%;
  width: 90%;
  margin: 1rem auto;

  &__top {
    height: 30%;
    margin-top: 2%;
    text-align: center;

    &_left {
      @include heightWidthColor_top;
      clip-path: polygon(0 100%, 100% 0, 100% 100%);
    }

    &_right {
      @include heightWidthColor_top;
      clip-path: polygon(0% 0, 100% 100%, 0% 100%);
    }
  }

  &__center {
    height: 30%;
    text-align: center;

    &_left {
      @include heightWidthColor_center;
      clip-path: polygon(0 00%, 100% 00%, 100% 100%);
      left: 7.5%;
      width: 10%;
    }

    &_center--top {
      @include heightWidthColor_center;
      clip-path: polygon(0 100%, 100% 0, 100% 100%);
      transform: rotate(180deg);
      left: 7.5%;
    }

    &_center--bottom {
      @include heightWidthColor_center;
      clip-path: polygon(0 100%, 100% 0, 100% 100%);
      right: 7.5%;
      width: $triangle-center-col-width;
    }
    &_right {
      @include heightWidthColor_center;
      clip-path: polygon(0 0, 100% 0, 0 100%);
      right: 7.5%;
      width: 10%;
    }
  }

  &__bottom {
    height: 30%;
    text-align: center;

    &_left {
      @include heightWidthColor_bottom;
      clip-path: polygon(0 0, 100% 0, 0 100%);
      left: 6.5%;
    }

    &_right {
      @include heightWidthColor_bottom;
      clip-path: polygon(0 0, 100% 0, 100% 100%);
      right: 6.5%;
    }
  }

  &:hover > * > * {
    animation: makeCircle 3s linear 1;
  }
}

